*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}

h1{
	margin: 1rem 0;
	font-size: 2rem;
}

h2{
	margin: 1rem 0;
	font-size: 1.4rem;
}

p{
	font-size: 1rem;
}

img{
	float: left;
	margin: 0 1rem 1rem 0;
}

a{
	inline: block;
	background: yellow;
}

.wrapper{
	margin: 0 auto;
	width:  600px;
}

span{
	color: red;
}
.Maginalien{
  font-size: 50px;
	float: left;
	display: block;
}
